.profileCities
  height: 21rem

.titleContinent,
.titleCity
  height: 3rem

.titleContinent
  p
    font-size: 1.2rem
    font-weight: bold

.titleCity
  margin-top: 3rem
  margin-bottom: 2rem
  p
    font-size: 2.3rem
    font-weight: bold
.lineCities
  margin-right: 0 !important

.scrollCities
  display: flex
  overflow: auto
  white-space: nowrap

