$picCitySize: 14rem
$picTextSize: 1.7rem

html
	font-size: 10px

footer
	background-color: green
	height: 6rem

main
	p
		font-size: $picTextSize

.profile-cities
	height: 21rem

.titleContinent
	height: 3rem

.row.lineCities
	margin-right: 0

.scrollCities
	display: flex
	overflow: auto
	white-space: nowrap

.previewCity
	width: $picCitySize
	height: $picCitySize

.picCityFrame
	position: relative

.picCityText
	position: absolute
	top: 110px
	width: $picCitySize
	text-align: center
	color: white
	font-size: $picTextSize

